@import "reset";
@import "font";
* {
  box-sizing: border-box;
}

body {
  color: #414141;
  font-size: 16px;
  font-family: "freightdisp_light";
  letter-spacing: 0.025em;
}

a {
  font-size: 10px;
  letter-spacing: 2.2px;
  border: 1px solid #414141;
  text-decoration: none;
  color: #414141;
  padding: 20px 60px;
}
a:hover {
  color: white;
  background-color: #414141;
}

.header {
  z-index: 1;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  padding: 0 50px;
  .header__nav {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    width: 100%;
    ul {
      display: flex;
      li {
        cursor: pointer;
        letter-spacing: 0.22em;
      }
      &:first-child {
        li {
          margin-right: 40px;
        }
      }
    }
  }
}

.content {
  margin-top: 150px;
  width: 100%;
  position: relative;
  .content__section {
    .content__padding {
      padding: 50px;
      .wrapper {
        height: 70vh;
        display: flex;
        justify-content: center;
        background-color: #f3ede8;
        .halves__half {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          .halves__content {
            padding: 0 30px;
            text-align: center;
            .halves__title {
              font-size: 28px;
              margin-bottom: 50px;
              line-height: 38px;
            }
          }
        }
        .halves__half img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .product__tiles {
      color: #414141;
      text-align: center;
      .product__tiles__category {
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 2.2px;
        margin-bottom: 17px;
      }
      .product__tiles__title {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 32px;
      }
      .product__tiles__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 490px;
        .product__tile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            max-width: 450px;
            height: 100%;
          }
        }
      }
    }
    .journal__tiles {
      padding: 140px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 380px);
      .journal__half {
        background-color: #f3ede8;
        position: relative;
        .journal__img {
          height: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .journal__content {
          position: absolute;
          top: 40%;
          left: 20%;
          padding: 0 80px;
          text-align: center;
          .time {
            display: block;
            font-size: 15px;
            line-height: 26px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #f3ede8;
  font-size: 10px;
  padding: 65px;
  bottom: 0;
  width: 100%;
  .footer__cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    .footer__label {
      color: #9d9d9c;
      margin-bottom: 50px;
    }
    .footer__col {
      width: 100%;
      border-right: 1px solid;
      text-align: center;
    }
    .footer__col:last-child {
      border-right: none;
    }
    .footer__col li {
      line-height: 24px;
    }
  }
}
